*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #ff4e50, #f9d423); 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.main-container {
  display: flex;
  min-height: 75vh;
  width: 90%;
  max-width: 800px;
  align-items: center;
  justify-content: center;
  gap:20px;
  /* Removed box/card styling */
  border-radius: 0;
  box-shadow: none;
  overflow: visible;
  background: none;
}

.image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-side img {
  width: 90%;
  max-width: 600px;
  height: 90;
  object-fit: cover;
  border-radius: 0;
}

.signup-container h2 {
  text-align: center;
  color: red;
  margin-bottom: 20px;
  font-size: 28px;
}
h2 {
  color: white;
  margin-bottom: 30px;
}

/* Form Group Styling */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 20px; 
}


input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #ff4e50;
}

/* Password Wrapper */
.password-wrapper {
  position: relative;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
}

.eye-btn {
  position: absolute;
  right: 10px;
  top: 68%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
  transition: color 0.3s ease;
}

.signup-button {
  width: 100%;
  background-color: #ff4e50;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.signup-button:hover {
  background-color: #e63e3e;
}
/*login*/
a {
  display: block;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  color: blue;
  font-weight: bold;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
